.git
node_modules
scripts

.commitlintrc.json
.editorconfig
.env.example
.eslintignore
.eslintrc
.gitignore
config.example.yml
.prettierrc
.prettierignore

*.log
logs

.DS_Store
.idea
.settings
.vscode

LICENSE
*.md
coverage
dist
build
